body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", sans-serif;
}
.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}
form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
input {
  border: solid 2px #e8e8e8;
  border-radius: 20px;
  padding: 5px 15px;
}
.name,
.price {
  width: 90%;
  display: block;
  margin-bottom: 10px;
}

select {
  display: block;
  margin-bottom: 10px;

  padding: 5px;
  width: 100%;
  border-radius: 20px;
  border: solid 2px #e8e8e8;
  background-color: rgba(187, 187, 187, 0);
}
.rooms {
  margin-bottom: 10px;
}

.real-estate__content__subtitle {
  font-size: 15px;
  margin: 0;
}
.transport__content,
.real-estate__content,
.electronics__content {
  display: none;
}
.transport-types,
.electronics__items {
  margin-bottom: 10px;
}
.square {
  margin-bottom: 10px;
}
label {
  display: block;
  margin: 10px 0;
  font-size: 30px;
  color: rgb(68, 68, 68);
}
.properties {
  padding-left: 50px;
  margin: 20px;
  position: relative;
}
.properties::before {
  position: absolute;
  content: url("./img/icon-1.png");
  left: -10px;
}
.properties-item {
  font-size: 20px;
  color: rgb(68, 68, 68);
  text-decoration: none;
  border-bottom: dashed rgb(77, 77, 77);
}
.properties-desc {
  margin: 5px 0;
  font-size: 15px;
  color: rgb(155, 155, 155);
}
.links {
  margin: 20px;
  padding-left: 50px;
  position: relative;
}
.links::before {
  position: absolute;
  content: url("./img/icon-2.png");
  left: -10px;
  top: -5px;
}
.links-item {
  width: 90%;
}
.img {
  margin: 40px 20px 20px 20px;
  padding-left: 50px;
  position: relative;
}
.img::before {
  position: absolute;
  content: url("./img/icon-3.png");
  left: -10px;
  top: -10px;
}
.img-item {
  border: none;
}
.desc {
  max-width: 335px;
  border-radius: 20px;
  border: solid 2px #e8e8e8;
  margin-bottom: 20px;
  padding: 10px;
}
.comments {
  padding-left: 50px;
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(120, 194, 136);
  color: #ffffff;
  cursor: pointer;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.properties-window {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 20px;
  text-align: center;
  width: 600px;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid black;
  left: -123px;
  top: 150px;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}
.properties-window__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.state__btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.properties-window__btn {
  display: block;
  width: 96.5%;
  text-decoration: none;
  padding: 10px;
  padding-inline-start: 10px;
  border-radius: 10px;
  background-color: rgb(120, 194, 136);
  color: #ffffff;
  margin: 10px 0;
}
.close-window {
  padding: 10px;
  background: url("./img/close.svg") no-repeat center center;
  border: none;
  cursor: pointer;
  float: right;
}
.active-btn {
  background-color: rgb(120, 194, 136);
  color: #ffffff;
}
.active {
  display: block;
}
