* {
  font-family: "Comfortaa", "sans-serif";
  box-sizing: border-box;
}
body {
  background: radial-gradient(
    circle,
    rgba(224, 63, 251, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 0;
  margin: 0;
}
.container {
  width: 358px;
  margin: 0 auto;
  margin-top: 10px;
}
form {
  border-radius: 10px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
}
input {
  border: solid 2px #e8e8e8;
  border-radius: 20px;
  padding: 5px 15px;
}
.name,
.price {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
select {
  text-align: center;
  display: block;
  margin-bottom: 35px;
  padding: 12px;
  width: 100%;
  border-radius: 20px;
  border: solid 2px #e8e8e8;
  background-color: rgba(187, 187, 187, 0);
  font-size: 15px;
  font-weight: bold;
  position: inherit;
}
form::before {
  position: absolute;
  content: "";
  padding: 16px;
  background: url("./img/select.png") no-repeat center center;
  background-size: cover;
  top: 93px;
  right: 16px;
  z-index: 1;
}
option {
  font-family: "Comfortaa", "sans-serif";
}

.rooms {
  margin-bottom: 10px;
}

.real-estate__content__subtitle {
  font-size: 15px;
  margin: 0;
}
.transport__content,
.real-estate__content,
.electronics__content {
  display: none;
}
.transport-types,
.electronics__items {
  margin-bottom: 10px;
}
.square {
  margin-bottom: 10px;
}
label {
  display: block;
  margin: 15px 0;
  font-size: 20px;
  color: rgb(68, 68, 68);
  font-weight: bold;
}
.properties {
  padding-left: 40px;
  margin: 20px;
  position: relative;
}
.properties::before {
  position: absolute;
  content: "";
  background: url("./img/icon-1.png") no-repeat center center;
  background-size: cover;
  padding: 22px;
  left: -19px;
}
.properties-item {
  font-size: 18px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  border-bottom: dashed rgb(77, 77, 77);
}
.properties-desc {
  margin: 5px 0;
  font-size: 11px;
  color: rgb(114, 114, 114);
  line-height: 14px;
}
.links {
  margin: 20px;
  padding-left: 40px;
  position: relative;
}
.links::before {
  position: absolute;
  content: "";
  background: url("./img/icon-2.png") no-repeat center center;
  background-size: cover;
  padding: 22px;
  left: -19px;
  top: -9px;
}
.links-item {
  width: 108%;
  padding: 5px 15px;
}
.img {
  margin: 30px 20px 15px 20px;
  padding-left: 40px;
  position: relative;
}
.img::before {
  position: absolute;
  content: "";
  background: url("./img/icon-3.png") no-repeat center center;
  background-size: cover;
  padding: 22px;
  left: -19px;
  top: -10px;
}
.img-item {
  padding: 5px 0;
  position: relative;
  border: none;
  opacity: 0;
  z-index: 2;
}
.file {
  position: absolute;
  top: 2px;
  left: 41px;
  z-index: 1;
  font-size: 15px;
}
.desc {
  max-width: 335px;
  border-radius: 20px;
  border: solid 2px #e8e8e8;
  margin-bottom: 20px;
  padding: 10px;
}
.comments {
  padding-left: 50px;
  margin-bottom: 20px;
  position: relative;
}
.comments::before {
  position: absolute;
  content: "";
  padding: 20px;
  background: url("./img/icon-4.png") no-repeat center center;
  background-size: cover;
  left: 5px;
  top: -12px;
}
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  background-color: rgb(120, 194, 136);
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.226);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.properties-window {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 20px;
  text-align: center;
  width: 600px;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid black;
  left: -123px;
  top: 150px;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}
.properties-window__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.state__btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.properties-window__btn {
  display: block;
  width: 96.5%;
  text-decoration: none;
  padding: 10px;
  padding-inline-start: 10px;
  border-radius: 10px;
  background-color: rgb(120, 194, 136);
  color: #ffffff;
  margin: 10px 0;
}
.close-window {
  padding: 10px;
  background: url("./img/close.svg") no-repeat center center;
  border: none;
  cursor: pointer;
  float: right;
}
.active-btn {
  background-color: rgb(120, 194, 136);
  color: #ffffff;
}
.active {
  display: block;
}
